<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App - AngularJS</title>
    <link rel="icon" href="favicon.jpg" type="image/icon" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.0.2/tailwind.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body ng-app="TodoApplication" ng-controller="TodoAppController" ng-init="getAllEvents()">
    <div class="h-screen w-screen flex flex-col justify-start items-center">
        <h1 class="text-2xl mt-8">Todo App</h1>
        <div class=" mt-4 p-3 pt-2 max-w-sm overflow-hidden shadow-2xl" style="border-radius:30px;">
            <div class="p-3">
                <span class="justify-center inline-block bg-orange-500 rounded-full px-12 py-4 text-sm font-semibold text-white shadow-lg ">{{today | date : "EEEE, d MMMM"}}</span>
            </div>
            <div class="h-64 overflow-auto pt-4">
                <label ng-repeat="event in events" class="block leading-loose text-gray-800">
                    <input class="mr-3" type="checkbox" ng-model="event.done">
                    <span ng-class="{'line-through text-gray-500': event.done}">{{event.text}}</span>
                </label>
            </div>
            <hr class="my-6 border-t border-red-300">
            <a ng-click="modalOpen = true" class="cursor-pointer float-right bg-orange-500 hover:bg-orange-600 text-white text-4xl font-medium px-4 pb-1 rounded-full shadow-lg">
            +</a>
        </div>
    </div>

    <div ng-class="{'open-popup' : modalOpen}" class="fixed inset-0 invisible opacity-0">
        <div class="popup mx-auto my-48 p-4 bg-white rounded w-3/4 md:w-1/4 relative shadow-2xl">
            <h2 class="font-medium text-xl mt-0">Add here</h2>
            <a class="cursor-pointer close absolute text-3xl" ng-click="modalOpen = false;newEventText=''">&times;</a>
            <div class="flex mt-4">
                <form novalidate name="myForm" ng-submit="addTodoEvent()" class="flex flex-col md:flex-row">
                    <input ng-model="newEventText" name="newEventText" required class="border-b border-b-2 border-orange-500 md:w-3/4 appearance-none text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Add event">
                    <input ng-disabled="!newEventText" id="popup-add-button" class="w-2/5 self-center mt-4 md:w-auto flex-shrink-0 bg-orange-500 hover:bg-orange-600 border-orange-500 hover:border-orange-600 text-sm border-4 text-white py-1 px-4 rounded" type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
</body>

</html>